#!/bin/sh
# vim: set filetype=sh:

################################################################################
# purpose:   do tarsnap backups, restores, and query info
# args/opts: see usage (run with -h option)
# meta:      script installed by ansible {{ role_name | basename }}
################################################################################

# GLOBAL VARS:

# User Selection Options
list_all_archives='false'
show_all_archives='false'
show_single_archive='false'
auto_backup='false'
manual_backup='false'
restore_archive='false'
delete_archive='false'
archive_name=''
backup_paths=''
dry_run=''
keyfile_path=''

print_usage() {
  echo 'USAGE:'
  echo "  $(basename "${0}")  -h"
  echo "  $(basename "${0}")  -l  [-k <keyfile_path>]"
  echo "  $(basename "${0}")  -s  [-k <keyfile_path>]"
  echo "  $(basename "${0}")  -S  -a <archive_name>  [-k <keyfile_path>]"
  echo "  $(basename "${0}")  -b  -p <backup_paths>  -a <archive_name>  [-n]  [-k <keyfile_path>]"
  echo "  $(basename "${0}")  -t"
  echo "  $(basename "${0}")  -x  -a <archive_name>  [-n]  [-k <keyfile_path>]"
  echo "  $(basename "${0}")  -d  -a <archive_name>  [-n]  [-k <keyfile_path>]"
  echo 'OPTIONS:'
  echo '  -h, --help'
  echo '      print this help message'
  echo '  -l, --list-all-archives'
  echo '      list all created archives'
  echo '  -s, --show-details-all-archives'
  echo '      show details for all created archives'
  echo '  -S, --show-details-single-archive'
  echo '      show details for a single created archive'
  echo '  -b, --manual-backup'
  echo '      back up specified backup paths to an archive on tarsnap.com'
  echo '  -t, --auto-backup'
  echo '      do auto/periodic backup of dirs listed in XXXXXXXXXXXXXXXXXXXXX to an archive'
  echo '  -x, --fetch-and-extract-archive'
  echo '      fetch specified archive from tarsnap.com and extract to working dir'
  echo '  -d, --delete-archive'
  echo '      delete specified archive from tarsnap.com'
  echo '  -a <archive_name>, --archive-name=<archive_name>'
  echo '      specified archive name'
  echo '  -p <backup_paths>, --backup-paths=<backup_paths>'
  echo "      comma-separated list of dirs (absolute paths, with trailing '/')"
  echo '  -n, --dry-run'
  echo "      do a 'dry-run' of the selected backup, extract, or delete operation"
  echo '  -k <keyfile_path>, --machine-keyfile-path=<keyfile_path>'
  echo "      specify machine keyfile path (default: local machine '{{ default_machine_key_path }}')"
  echo 'EXIT CODES:'
  echo '    0  ok'
  echo '    1  usage, arguments, or options error'
  echo '    5  tarsnap operation error'
  echo '  255  unknown error'
  exit "${1}"
}

get_cmd_opts() {
  while getopts ':hlba:p:nk:-:' option; do
    case "${option}" in
      h)  handle_help ;;
      l)  handle_list_all_archives ;;
      b)  handle_manual_backup ;;
      a)  handle_archive_name "${OPTARG}" ;;
      p)  handle_backup_paths "${OPTARG}" ;;
      n)  handle_dry_run ;;
      k)  handle_machine_keyfile_path "${OPTARG}" ;;
      -)  LONG_OPTARG="${OPTARG#*=}"
          case ${OPTARG} in
            help)                        handle_help ;;
            help=*)                      handle_illegal_option_arg "${OPTARG}" ;;
            list-all-archives)           handle_list_all_archives ;;
            list-all-archives=*)         handle_illegal_option_arg "${OPTARG}" ;;
            manual-backup)               handle_manual_backup ;;
            manual-backup=*)             handle_illegal_option_arg "${OPTARG}" ;;
            archive-name=?*)             handle_archive_name "${LONG_OPTARG}" ;;
            archive-name*)               handle_missing_option_arg "${OPTARG}" ;;
            backup-paths=?*)             handle_backup_paths "${LONG_OPTARG}" ;;
            backup-paths*)               handle_missing_option_arg "${OPTARG}" ;;
            dry-run)                     handle_dry_run ;;
            dry-run=*)                   handle_illegal_option_arg "${OPTARG}" ;;
            machine-keyfile-path=?*)     handle_machine_keyfile_path "${LONG_OPTARG}" ;;
            machine-keyfile-path*)       handle_missing_option_arg "${OPTARG}" ;;
            '')                          break ;; # non-option arg starting with '-'
            *)                           handle_unknown_option "${OPTARG}" ;;
          esac ;;
      \?) handle_unknown_option "${OPTARG}" ;;
    esac
  done
}

handle_help() {
  print_usage 0
}

handle_list_all_archives() {
  if [ "${show_all_archives}" = 'true' ] || \
     [ "${show_single_archive}" = 'true' ] || \
     [ "${auto_backup}" = 'true' ] || \
     [ "${manual_backup}" = 'true' ] || \
     [ "${restore_archive}" = 'true' ] || \
     [ "${delete_archive}" = 'true' ]; then
    quit_err_msg_with_help "mutually exclusive options selected" 1
  fi
  list_all_archives='true'
}

handle_manual_backup() {
  if [ "${list_all_archives}" = 'true' ] || \
     [ "${show_all_archives}" = 'true' ] || \
     [ "${show_single_archive}" = 'true' ] || \
     [ "${auto_backup}" = 'true' ] || \
     [ "${restore_archive}" = 'true' ] || \
     [ "${delete_archive}" = 'true' ]; then
    quit_err_msg_with_help "mutually exclusive options selected" 1
  fi
  manual_backup='true'
}

handle_archive_name() {
  archive_name="${1}"
}

handle_backup_paths() {
  paths_with_commas="${1}"
  backup_paths=$(echo "${paths_with_commas}" | tr "," " ")
}

handle_dry_run() {
  dry_run='--dry-run '
}

handle_machine_keyfile_path() {
  keyfile_path="${1}"
  if [ ! -f "${keyfile_path}" ]; then
    quit_err_msg_with_help "specified keyfile ${keyfile_path} does not exist" 1
  fi
}

handle_unknown_option() {
  err_msg="unknown option \"${1}\""
  quit_err_msg_with_help "${err_msg}" 1
}

handle_illegal_option_arg() {
  err_msg="illegal argument in \"${1}\""
  quit_err_msg_with_help "${err_msg}" 1
}

handle_missing_option_arg() {
  err_msg="missing argument for option \"${1}\""
  quit_err_msg_with_help "${err_msg}" 1
}

print_err_msg() {
  echo 'ERROR:'
  printf "$(basename "${0}"): %s\\n\\n" "${1}"
}

quit_err_msg_with_help() {
  print_err_msg "${1}"
  print_usage "${2}"
}

do_list_all_machine_archives() {
  list_archives_cmd="tarsnap ${keyfile_path:+--keyfile "$keyfile_path" }--list-archives -v"
  echo "Listing all local machine archives with '${list_archives_cmd}'..."
  eval "${list_archives_cmd}"
  exit_code="${?}"
  if [ "${exit_code}" != 0 ]; then
    quit_err_msg_with_help "tarsnap error attempting to list all archives" 5
  fi
}

do_manual_backup() {
  if [ "${backup_paths}" = '' ]; then
    quit_err_msg_with_help "missing 'backup-paths' option" 1
  fi
  if [ "${archive_name}" = '' ]; then
    quit_err_msg_with_help "missing 'archive-name' option" 1
  fi
  ts_backup_paths=$(echo "${backup_paths}" | tr "," " ")
  manual_backup_cmd="tarsnap -cvf ${keyfile_path:+--keyfile "$keyfile_path" }${dry_run:-}${archive_name} ${ts_backup_paths}"
  echo "Backing up specified paths to an archive on tarsnap.com with '${manual_backup_cmd}'..."
  eval "${manual_backup_cmd}"
  exit_code="${?}"
  if [ "${exit_code}" != 0 ]; then
    quit_err_msg_with_help "tarsnap error attempting to do manual backup" 5
  fi
}

main() {
  get_cmd_opts "$@"
  if [ "${list_all_archives}" = 'true' ]; then
    do_list_all_machine_archives "$@"
  elif [ "${manual_backup}" = 'true' ]; then
    do_manual_backup "$@"
  else
    quit_err_msg_with_help "no valid option selected" 1
  fi
  exit 0
}

main "$@"

